<div style="width: 350px; margin: 0 auto;">
    <h2 class="form-signin-heading text-center" style="color:#777;">Login to Qlik Sense</h2>

    <div class="row" style="padding-top: 30px;">

        <div class="col-md-12">
            <!--<img src="img/qs-login.png" width="100%">
            <hr>-->
            <div style="width: 100%" class="form-signin">
                <label for="userid">User name</label>
                <input ng-model="user.username" name="userid" type="text" id="userid" class="form-control" placeholder="Enter username" required="" autofocus="">
                <br />
                <label for="pass">Password</label>
                <input ng-model="user.password" type="password" name="pass" id="pass" class="form-control" placeholder="Enter password" required="">
                <br />
                <button style="background: #61a729; border: 1px solid #559324;" ng-click="doLogin();" class="btn btn-lg btn-primary btn-block" type="button">Login <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                <div cg-busy="{promise:loginProm,message:'Wait...'}"></div>
            </div>
        </div>
    </div>

</div>
